name: Build single binary on Linux

on:
  push:
    branches-ignore:
      - dependabot/**
  pull_request:
    branches:
      - magistra

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build
        run: |
          export RUST_BACKTRACE=1
          mkdir -p artifacts
          docker build -f 'Dockerfile' -t builder .
          docker run --rm -v "${PWD}/artifacts:/artifacts" --entrypoint="cp" builder "/KeroKeroRepeat" "/artifacts"
      - name: Upload result
        uses: actions/upload-artifact@v2
        with:
          name: KeroKeroRepeat
          path: artifacts/KeroKeroRepeat
      - name: Inspect disk usage
        shell: bash
        run: du -sh .
