name: Generate example files

on:
  push:
    branches-ignore:
      - dependabot/**
  pull_request:
    branches:
      - magistra

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build
        run: cargo build --release --verbose
      - name: Generate output.wav
        run: |
          cargo run --release --package kero_kero_repeat --bin KeroKeroRepeat -- \
            -i input.wav -o output.wav -c 3 \
            --minimum-pyramid-size 2048 ---initial-search-window 512 --search-window 1024 --repeat-window 44100
      - name: Upload result
        uses: actions/upload-artifact@v3
        with:
          name: output.wav
          path: output.wav

